<form method="post">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username() }}
    {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br>
    {{ form.password.label }} {{ form.password() }}
    {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br>
    {{ form.confirm_password.label }} {{ form.confirm_password() }}
    {% for error in form.confirm_password.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br>
    {{ form.submit() }}
  </form>